<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>

    <!-- Added to force EF to execute db Initializer -->
    <contexts>
      <context type="Jabberwocky.EF.Library.DAL.JabberwockyContext, Jabberwocky.EF.Library">
        <databaseInitializer type="Jabberwocky.EF.Library.DAL.JabberwockyInitializer, Jabberwocky.EF.Library"/>
      </context>
    </contexts>
    <!-- End of added section-->

    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- Added connection string for application -->
  <connectionStrings>
  <add name="JabberwockyContext" connectionString="Data Source=ROBSLAPTOP\FUJI;Initial Catalog=Jabberwocky;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>